In [ ]:
lista = [[0,0],[3,2],[4,5]]

print(lista[2][0])

In [1]:
import pandas as pd

In [2]:
#os 0 - stupci
#os 1 - retci

data = {
    "Kolona 1": ["K1_Podatak1", "K1_Podatak2", "K1_Podatak3", "K1_Podatak4", "K1_Podatak5" ],
    "Kolona 2": ["K2_Podatak1", "K2_Podatak2", "K2_Podatak3", "K2_Podatak4", "K2_Podatak5" ],
    "Kolona 3": ["K3_Podatak1", "K3_Podatak2", "K3_Podatak3", "K3_Podatak4", "K3_Podatak5" ],
    "Kolona 4": ["K4_Podatak1", "K4_Podatak2", "K4_Podatak3", "K4_Podatak4", "K4_Podatak5" ],
    "Kolona 5": ["K4_Podatak1", "K5_Podatak2", "K5_Podatak3", "K5_Podatak4", "K5_Podatak5" ]    
}

In [3]:
# data_frame == df
df = pd.DataFrame(data)
df["Kolona 3"]

0    K3_Podatak1
1    K3_Podatak2
2    K3_Podatak3
3    K3_Podatak4
4    K3_Podatak5
Name: Kolona 3, dtype: object

In [4]:
serija = pd.Series([5,8,2,6,5,4,9], name = "Serija")
serija

0    5
1    8
2    2
3    6
4    5
5    4
6    9
Name: Serija, dtype: int64

In [ ]:
# string, decimalni broj, boolean, python liste

In [8]:
#string
serija_str = pd.Series(["PET","OSAM","DVA","ŠEST","PET","ČETIRI","DEVET"], name = "Serija str")
serija_str

0       PET
1      OSAM
2       DVA
3      ŠEST
4       PET
5    ČETIRI
6     DEVET
Name: Serija str, dtype: object

In [7]:
#float
serija_float = pd.Series([5.1,8.2,2.3,6.4,5.5,4.6,9.7], name = "Serija float")
serija_float

0    5.1
1    8.2
2    2.3
3    6.4
4    5.5
5    4.6
6    9.7
Name: Serija float, dtype: float64

In [6]:
#bool
serija_bool = pd.Series([True,False,False,True,False,True,True], name = "Serija bool")
serija_bool

0     True
1    False
2    False
3     True
4    False
5     True
6     True
Name: Serija bool, dtype: bool

In [5]:
#list
serija_list = pd.Series([[5,8,2,6,5,4,9],["PET","OSAM","DVA","ŠEST"],[5.1,8.2,2.3],[True,False,False,True]],
                        name = "Serija list")
serija_list

0         [5, 8, 2, 6, 5, 4, 9]
1        [PET, OSAM, DVA, ŠEST]
2               [5.1, 8.2, 2.3]
3    [True, False, False, True]
Name: Serija list, dtype: object

In [10]:
serija_indexi = pd.Series([5,8,2,6], index = ["a","b","c","d"])
serija_indexi

a    5
b    8
c    2
d    6
dtype: int64

In [13]:
serija = pd.Series([5, 8, 2, 6, 5, 4, 9, 7, 1, 3, 5, 3, 4, 8, 9, 8, 2, 3, 5, 2], name = "Oznaka" )
serija

0     5
1     8
2     2
3     6
4     5
5     4
6     9
7     7
8     1
9     3
10    5
11    3
12    4
13    8
14    9
15    8
16    2
17    3
18    5
19    2
Name: Oznaka, dtype: int64

In [18]:
serija[4:7:2]

4    5
6    9
Name: Oznaka, dtype: int64

In [20]:
serija[3:8:3]

3    6
6    9
Name: Oznaka, dtype: int64

In [22]:
podskup = serija[2:8:3]
podskup

2    2
5    4
Name: Oznaka, dtype: int64

In [26]:
podskup = pd.Series(serija[2:8:3], name = "Podskup", copy = True)
podskup

2    2
5    4
Name: Podskup, dtype: int64

In [28]:
podskup[2]

2

In [35]:
podskup.reset_index()

   index  Podskup
0      2        2
1      5        4

In [41]:
podskup.reset_index(inplace=True, drop=True)
podskup

0    2
1    4
Name: Podskup, dtype: int64

In [45]:
podskup[0] = "Prvi element"
podskup

0    Prvi element
1               4
Name: Podskup, dtype: object

In [47]:
serija

0     5
1     8
2     2
3     6
4     5
5     4
6     9
7     7
8     1
9     3
10    5
11    3
12    4
13    8
14    9
15    8
16    2
17    3
18    5
19    2
Name: Oznaka, dtype: int64

In [52]:
serija[serija>6]

1     8
6     9
7     7
13    8
14    9
15    8
Name: Oznaka, dtype: int64

In [54]:
serija/100

0     0.05
1     0.08
2     0.02
3     0.06
4     0.05
5     0.04
6     0.09
7     0.07
8     0.01
9     0.03
10    0.05
11    0.03
12    0.04
13    0.08
14    0.09
15    0.08
16    0.02
17    0.03
18    0.05
19    0.02
Name: Oznaka, dtype: float64

In [56]:
serija.unique()

array([5, 8, 2, 6, 4, 9, 7, 1, 3], dtype=int64)

In [59]:
serija.value_counts().sort_values()

6    1
7    1
1    1
4    2
9    2
8    3
2    3
3    3
5    4
Name: Oznaka, dtype: int64

In [61]:
serija.isin([0,5,9])

0      True
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18     True
19    False
Name: Oznaka, dtype: bool

In [63]:
serija[serija.isin([0,5,9])]

0     5
4     5
6     9
10    5
14    9
18    5
Name: Oznaka, dtype: int64

Generirajte nasumičnih 100 brojeva te ih pohranite u Python listu. Od te liste kreirajte Pandas seriju te joj dajte nekakav naziv.

Provjerite, koliko ima brojeva koji se ponavljaju te koliko se puta svaki od njih ponavlja?
Koji je broj najveći, a koji najmanji?
Modificirajte podatke u seriji tako da se svedu na postotke (neka budu u rasponu od 0 do 1).
Promijenite vrijednosti najvećeg broja tako da je identična vrijednosti najmanjeg broja. Provjerite koji je sada najveći broj.

In [282]:
import random
import pandas as pd

#generiranje

broj_generiranih = 100

random_brojevi = []
for broj in range (broj_generiranih):
    random_brojevi.append(random.randint(0,30))
    
random_brojevi = pd.Series(random_brojevi)


for broj, pon in random_brojevi.items():
    print(f"{broj}\t{pon}",  end = "\n")

0	8
1	22
2	28
3	19
4	3
5	13
6	29
7	28
8	19
9	26
10	1
11	8
12	21
13	1
14	5
15	22
16	18
17	22
18	24
19	16
20	16
21	1
22	22
23	6
24	18
25	17
26	25
27	22
28	9
29	24
30	5
31	28
32	25
33	6
34	7
35	26
36	29
37	23
38	24
39	17
40	8
41	25
42	26
43	13
44	2
45	29
46	21
47	21
48	2
49	3
50	7
51	3
52	11
53	26
54	14
55	24
56	6
57	3
58	15
59	24
60	6
61	29
62	14
63	22
64	6
65	11
66	3
67	6
68	28
69	22
70	23
71	17
72	25
73	4
74	26
75	27
76	24
77	30
78	5
79	15
80	26
81	10
82	3
83	8
84	17
85	14
86	2
87	4
88	8
89	17
90	23
91	12
92	25
93	6
94	25
95	16
96	24
97	14
98	16
99	5

In [284]:
#broj ponavnjanja
pon_ran_brojevi = random_brojevi.value_counts().sort_values()
pon_ran_brojevi
print("Jedinstveni brojevi su:\n")
for broj, pon in pon_ran_brojevi.items():
    print(f"{broj}\t{pon}",  end = "\n")

Jedinstveni brojevi su:

12	1
30	1
27	1
9	1
10	1
18	2
13	2
19	2
7	2
11	2
15	2
4	2
23	3
21	3
2	3
1	3
28	4
14	4
16	4
29	4
5	4
8	5
17	5
3	6
25	6
26	6
24	7
22	7
6	7

In [287]:
#max
max_ran_broj = random_brojevi.idxmax()
print(f"Najveći broj je: {random_brojevi[max_ran_broj]}")


#min
min_ran_broj = random_brojevi.idxmin()
print(f"Najmanji broj je: {random_brojevi[min_ran_broj]}")
#min_ran_broj
#max_ran_broj

Najveći broj je: 30
Najmanji broj je: 1

In [289]:
#postotci

post_ran_brojevi = random_brojevi.value_counts().sort_index()/broj_generiranih
for broj, post in post_ran_brojevi.items():
    print(f"{broj}\t{post}",  end = "\n")

1	0.03
2	0.03
3	0.06
4	0.02
5	0.04
6	0.07
7	0.02
8	0.05
9	0.01
10	0.01
11	0.02
12	0.01
13	0.02
14	0.04
15	0.02
16	0.04
17	0.05
18	0.02
19	0.02
21	0.03
22	0.07
23	0.03
24	0.07
25	0.06
26	0.06
27	0.01
28	0.04
29	0.04
30	0.01

In [292]:
# promjeni max
#print(random_brojevi)
#count_max = random_brojevi.value_counts()
random_brojevi = random_brojevi.replace(random_brojevi[max_ran_broj],random_brojevi[min_ran_broj])

for broj, post in random_brojevi.items():
    print(f"{broj}\t{post}",  end = "\n")

0	8
1	22
2	28
3	19
4	3
5	13
6	29
7	28
8	19
9	26
10	1
11	8
12	21
13	1
14	5
15	22
16	18
17	22
18	24
19	16
20	16
21	1
22	22
23	6
24	18
25	17
26	25
27	22
28	9
29	24
30	5
31	28
32	25
33	6
34	7
35	26
36	29
37	23
38	24
39	17
40	8
41	25
42	26
43	13
44	2
45	29
46	21
47	21
48	2
49	3
50	7
51	3
52	11
53	26
54	14
55	24
56	6
57	3
58	15
59	24
60	6
61	29
62	14
63	22
64	6
65	11
66	3
67	6
68	28
69	22
70	23
71	17
72	25
73	4
74	26
75	27
76	24
77	1
78	5
79	15
80	26
81	10
82	3
83	8
84	17
85	14
86	2
87	4
88	8
89	17
90	23
91	12
92	25
93	6
94	25
95	16
96	24
97	14
98	16
99	5

Tekst za obradu:
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Obradite gore navedeni tekst tako da od njega kreirate listu riječi koje imaju sva mala slova i nemaju znakove interpunkcije. Od te liste kreirajte Pandas seriju te joj dajte nekakav naziv.

Provjerite, koliko ima riječi koje se ponavljaju te koliko puta se svaka od njih ponavlja?
Provjerite koja je najduža, a koja najkraća riječ.

In [301]:
text = """Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."""

text = text.replace(",", "")
text = text.replace(".", "")
text = text.replace("\n", "")
text = text.lower()

text_lista = text.split(" ")

serija_text = pd.Series(text_lista)

serija_text.value_counts().sort_values()

print(f"Najduža riječ: {serija_text.max()}")
print(f"Najkraća riječ: {serija_text.min()}")

Najduža riječ: voluptate
Najduža riječ: ad