In [1]:
#možemo pisati komentare koji se neće izvesti

print("Pozdrav iz Jupyter Notebooka") #komentar
a = 6

Pozdrav iz Jupyter Notebooka

In [2]:
print(a+2)
match a:
    case 6:
        print(a)

8
6

In [3]:
5*(12.7-4)/2

21.75

In [4]:
varijabla = 5
print("varijabla = 5 \t", type(varijabla))

varijabla = "tekst"
print("varijabla = 'tekst' \t", type(varijabla))

varijabla

varijabla = 5 	 <class 'int'>
varijabla = 'tekst' 	 <class 'str'>

'tekst'

In [5]:
a = [1,2,3]
b = a[::]

In [6]:
a.append(5)

In [7]:
print(f"lista a: {a}")
print(f"lista b: {b}")

lista a: [1, 2, 3, 5]
lista b: [1, 2, 3]

In [8]:
print(" Ovo je \"test\". He's 20")
print("c:\\")
print("Ime\tPrezime\tMob\n-------------------")

 Ovo je "test". He's 20
c:\
Ime	Prezime	Mob
-------------------

In [9]:
print("""
Pišemo onako
kako nam odgovara
u više redova i s razmacima po
želji
""")

Pišemo onako
kako nam odgovara
u više redova i s razmacima po
želji

In [10]:
v1 = int(input("Unesite vrijednost za v1: "))
v2 = int(input("Unesite vrijednost za v2: "))
v3 = int(input("Unesite vrijednost za v3: "))

#int
v1int = int(input("Unesite vrijednost za v1: "))
v2int = int(input("Unesite vrijednost za v2: "))
v3int = int(input("Unesite vrijednost za v3: "))

Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3

In [11]:
"""

int() - pretvara tip podatka u dekadski broj
float() - pretvara cijeli broj u decimalni broj
ord() - pretvara znak u ASCII broj
chr() - pretvara ASCII broj u znak
hex() - pretvara broj u heksadekadski broj
oct() - pretvara dekadski broj u oktalni broj
str() - pretvara bilo koji tip u tekstualni tip podatka
tuple() - pretvara dobiveni podatak u nterac (tuple)
set() - pretvara dobiveni podatak u set (listu koja IMA JEDINSTVENE članove - nema duplikata)
list() - pretvara dobiveni podatak u listu
dict() - pretvara dobiveni podatak u rječnik.

"""

'\n\nint() - pretvara tip podatka u dekadski broj\nfloat() - pretvara cijeli broj u decimalni broj\nord() - pretvara znak u ASCII broj\nchr() - pretvara ASCII broj u znak\nhex() - pretvara broj u heksadekadski broj\noct() - pretvara dekadski broj u oktalni broj\nstr() - pretvara bilo koji tip u tekstualni tip podatka\ntuple() - pretvara dobiveni podatak u nterac (tuple)\nset() - pretvara dobiveni podatak u set (listu koja IMA JEDINSTVENE članove - nema duplikata)\nlist() - pretvara dobiveni podatak u listu\ndict() - pretvara dobiveni podatak u rječnik.\n\n'

In [12]:
#int
print("int")
v1int = int(input("Unesite vrijednost za v1: "))
v2int = int(input("Unesite vrijednost za v2: "))
v3int = int(input("Unesite vrijednost za v3: "))

print(v1int,"\t\t",v2int,"\t\t",v3int)
print(type(v1int),"\t",type(v2int),"\t",type(v3int))

int
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
1 		 2 		 3
<class 'int'> 	 <class 'int'> 	 <class 'int'>

In [13]:
#float
print("#")
v1float= float(input("Unesite vrijednost za v1: "))
v2float = float(input("Unesite vrijednost za v2: "))
v3float = float(input("Unesite vrijednost za v3: "))

print(v1float,"\t\t",v2float,"\t\t",v3float)
print(type(v1float),"\t",type(v2float),"\t",type(v3float))

#
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
1.0 		 2.0 		 3.0
<class 'float'> 	 <class 'float'> 	 <class 'float'>

In [14]:
#ord
print("ord")
v1ord= ord(input("Unesite vrijednost za v1: "))
v2ord = ord(input("Unesite vrijednost za v2: "))
v3ord = ord(input("Unesite vrijednost za v3: "))

print(v1ord,"\t\t",v2ord,"\t\t",v3ord)
print(type(v1ord),"\t",type(v2ord),"\t",type(v3ord))

ord
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
49 		 50 		 51
<class 'int'> 	 <class 'int'> 	 <class 'int'>

In [15]:
#chr
print("chr")
v1chr= chr(int(input("Unesite vrijednost za v1: ")))
v2chr = chr(int(input("Unesite vrijednost za v2: ")))
v3chr = chr(int(input("Unesite vrijednost za v3: ")))

print(v1chr,"\t\t",v2chr,"\t\t",v3chr)
print(type(v1chr),"\t",type(v2chr),"\t",type(v3chr))

chr
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
 		  		 
<class 'str'> 	 <class 'str'> 	 <class 'str'>

In [16]:
#hex
print("hex")
v1hex= hex(int(input("Unesite vrijednost za v1: ")))
v2hex = hex(int(input("Unesite vrijednost za v2: ")))
v3hex = hex(int(input("Unesite vrijednost za v3: ")))

print(v1hex,"\t\t",v2hex,"\t\t",v3hex)
print(type(v1hex),"\t",type(v2hex),"\t",type(v3hex))

hex
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
0x1 		 0x2 		 0x3
<class 'str'> 	 <class 'str'> 	 <class 'str'>

In [17]:
#str
print("str")
v1str= input("Unesite vrijednost za v1: ")
v2str = input("Unesite vrijednost za v2: ")
v3str = input("Unesite vrijednost za v3: ")

print(v1str,"\t\t",v2str,"\t\t",v3str)
print(type(v1str),"\t",type(v2str),"\t",type(v3str))

str
Unesite vrijednost za v1: 12
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
12 		 2 		 3
<class 'str'> 	 <class 'str'> 	 <class 'str'>

In [18]:
#tuple
print("tuple")
v1tuple = input("Unesite vrijednost za v1: ")
v2tuple = input("Unesite vrijednost za v2: ")
v3tuple = input("Unesite vrijednost za v3: ")

tuple = (v1tuple, v2tuple, v3tuple)
print(tuple)
print(type(tuple))

tuple
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
('1', '2', '3')
<class 'tuple'>

In [19]:
#set
print("set")
v1set = input("Unesite vrijednost za v1: ")
v2set = input("Unesite vrijednost za v2: ")
v3set = input("Unesite vrijednost za v3: ")

list = [v1set, v2set, v3set]
set = set(list)
print(set)
print(type(set))

set
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
{'1', '2', '3'}
<class 'set'>

In [20]:
#list
print("list")
v1list= input("Unesite vrijednost za v1: ")
v2list = input("Unesite vrijednost za v2: ")
v3list = input("Unesite vrijednost za v3: ")

list = [v1list, v2list, v3list]
print(list)
print(type(list))

list
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
['1', '2', '3']
<class 'list'>

In [21]:
#dict
print("dict")
v1dict= input("Unesite vrijednost za v1: ")
v2dict = input("Unesite vrijednost za v2: ")
v3dict = input("Unesite vrijednost za v3: ")

dict = {"v1dict": v1dict, "v2dict": v2dict, "v3dict": v3dict}
print(dict)
print(type(dict))

dict
Unesite vrijednost za v1: 1
Unesite vrijednost za v2: 2
Unesite vrijednost za v3: 3
{'v1dict': '1', 'v2dict': '2', 'v3dict': '3'}
<class 'dict'>

In [23]:
dnevne_temperature = [15.1, 15.2, 15.6, 16.1, 16.8, 17.3, 17.3, 17.9, 18.3, 19.1, 20.3, 20.5, 20.8, 
                      21.2, 21.8, 22.3, 23.1, 24.5, 25.6, 25.9, 26.3, 26.8, 27.1, 27.3, 27.5, 27.8, 
                      27.2, 26.8, 26.3, 26.1, 25.5, 24.6, 23.9, 23.3, 22.8, 22.1, 21.3, 20.5, 19.8,
                      19.5, 19.1, 18.6, 18.1, 17.6, 16.8, 16.3, 15.9, 15.4, 15.2, 14.9, 14.6, 14.1]

In [23]:
lista = ["Mate", "Matić"]
ime, prezime = lista
print(f"Ime: {ime}")
print(f"Prezime: {prezime}")

Ime: Mate
Prezime: Matić

In [7]:
brojevi = range(10)
brojevi

range(0, 10)

In [8]:
brojevi = list(brojevi)

In [9]:
brojevi.append(12)
brojevi

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

In [10]:
brojevi.insert(4, "test")
brojevi

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 12]

In [11]:
b2 = list(range(50,55))
brojevi.extend(b2)
brojevi

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 12, 50, 51, 52, 53, 54]

In [13]:
brojevi.remove(12)
brojevi

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 50, 51, 52, 53, 54]

In [14]:
brojevi.pop(4)
brojevi

[0, 1, 2, 3, 5, 6, 7, 8, 9, 50, 51, 52, 53, 54]

In [15]:
5 in brojevi

True

In [16]:
brojevi_b2 = brojevi[:-6:-1]
brojevi_b2

[54, 53, 52, 51, 50]

In [24]:
sorted(dnevne_temperature)

[14.1,
 14.6,
 14.9,
 15.1,
 15.2,
 15.2,
 15.4,
 15.6,
 15.9,
 16.1,
 16.3,
 16.8,
 16.8,
 17.3,
 17.3,
 17.6,
 17.9,
 18.1,
 18.3,
 18.6,
 19.1,
 19.1,
 19.5,
 19.8,
 20.3,
 20.5,
 20.5,
 20.8,
 21.2,
 21.3,
 21.8,
 22.1,
 22.3,
 22.8,
 23.1,
 23.3,
 23.9,
 24.5,
 24.6,
 25.5,
 25.6,
 25.9,
 26.1,
 26.3,
 26.3,
 26.8,
 26.8,
 27.1,
 27.2,
 27.3,
 27.5,
 27.8]

In [26]:
dnevne_temperature

[15.1,
 15.2,
 15.6,
 16.1,
 16.8,
 17.3,
 17.3,
 17.9,
 18.3,
 19.1,
 20.3,
 20.5,
 20.8,
 21.2,
 21.8,
 22.3,
 23.1,
 24.5,
 25.6,
 25.9,
 26.3,
 26.8,
 27.1,
 27.3,
 27.5,
 27.8,
 27.2,
 26.8,
 26.3,
 26.1,
 25.5,
 24.6,
 23.9,
 23.3,
 22.8,
 22.1,
 21.3,
 20.5,
 19.8,
 19.5,
 19.1,
 18.6,
 18.1,
 17.6,
 16.8,
 16.3,
 15.9,
 15.4,
 15.2,
 14.9,
 14.6,
 14.1]

In [27]:
dnevne_temperature.sort()
dnevne_temperature

[14.1,
 14.6,
 14.9,
 15.1,
 15.2,
 15.2,
 15.4,
 15.6,
 15.9,
 16.1,
 16.3,
 16.8,
 16.8,
 17.3,
 17.3,
 17.6,
 17.9,
 18.1,
 18.3,
 18.6,
 19.1,
 19.1,
 19.5,
 19.8,
 20.3,
 20.5,
 20.5,
 20.8,
 21.2,
 21.3,
 21.8,
 22.1,
 22.3,
 22.8,
 23.1,
 23.3,
 23.9,
 24.5,
 24.6,
 25.5,
 25.6,
 25.9,
 26.1,
 26.3,
 26.3,
 26.8,
 26.8,
 27.1,
 27.2,
 27.3,
 27.5,
 27.8]

In [28]:
reversed(dnevne_temperature)

In [29]:
list(reversed(dnevne_temperature))

[27.8,
 27.5,
 27.3,
 27.2,
 27.1,
 26.8,
 26.8,
 26.3,
 26.3,
 26.1,
 25.9,
 25.6,
 25.5,
 24.6,
 24.5,
 23.9,
 23.3,
 23.1,
 22.8,
 22.3,
 22.1,
 21.8,
 21.3,
 21.2,
 20.8,
 20.5,
 20.5,
 20.3,
 19.8,
 19.5,
 19.1,
 19.1,
 18.6,
 18.3,
 18.1,
 17.9,
 17.6,
 17.3,
 17.3,
 16.8,
 16.8,
 16.3,
 16.1,
 15.9,
 15.6,
 15.4,
 15.2,
 15.2,
 15.1,
 14.9,
 14.6,
 14.1]

In [30]:
senzori = {1 : ['Senzor pokreta', 'Aktivan', 'Ulazna vrata'],
           2 : ['Senzor pokreta', 'Aktivan', 'Vrata na terasi'],
           3 : ['Senzor pokreta', 'Aktivan', 'Ulaz u dvoriste'],
           4 : ['Senzor plinova', 'Aktivan', 'Ulaz u garazu']
          }

senzori

{1: ['Senzor pokreta', 'Aktivan', 'Ulazna vrata'],
 2: ['Senzor pokreta', 'Aktivan', 'Vrata na terasi'],
 3: ['Senzor pokreta', 'Aktivan', 'Ulaz u dvoriste'],
 4: ['Senzor plinova', 'Aktivan', 'Ulaz u garazu']}

In [31]:
senzori.keys()

dict_keys([1, 2, 3, 4])

In [32]:
senzori.values()

dict_values([['Senzor pokreta', 'Aktivan', 'Ulazna vrata'], ['Senzor pokreta', 'Aktivan', 'Vrata na terasi'], ['Senzor pokreta', 'Aktivan', 'Ulaz u dvoriste'], ['Senzor plinova', 'Aktivan', 'Ulaz u garazu']])

In [33]:
senzori.items()

dict_items([(1, ['Senzor pokreta', 'Aktivan', 'Ulazna vrata']), (2, ['Senzor pokreta', 'Aktivan', 'Vrata na terasi']), (3, ['Senzor pokreta', 'Aktivan', 'Ulaz u dvoriste']), (4, ['Senzor plinova', 'Aktivan', 'Ulaz u garazu'])])

In [34]:
dnevne_temperature_zakljucano = (15.1, 15.2, 15.6, 16.1, 16.8, 17.3, 17.3, 17.9, 18.3, 19.1, 20.3, 
                                 20.5, 20.8, 21.2, 21.8, 22.3, 23.1, 24.5, 25.6, 25.9, 26.3, 26.8, 
                                 27.1, 27.3, 27.5, 27.8, 27.2, 26.8, 26.3, 26.1, 25.5, 24.6, 23.9, 
                                 23.3, 22.8, 22.1, 21.3, 20.5, 19.8, 19.5, 19.1, 18.6, 18.1, 17.6, 
                                 16.8, 16.3, 15.9, 15.4, 15.2, 14.9, 14.6, 14.1)

In [35]:
prvih_deset = dnevne_temperature_zakljucano[:10]
prvih_deset

(15.1, 15.2, 15.6, 16.1, 16.8, 17.3, 17.3, 17.9, 18.3, 19.1)

In [36]:
tpl1 = ([1,2,3],4)
tpl1[0].append(4)
tpl1

([1, 2, 3, 4], 4)

In [39]:
lista = [2,2,3,1,5,4,5,6]
lista
set(lista)

{1, 2, 3, 4, 5, 6}

In [42]:
naslov = "Lista dnevnih temperatura"
list(naslov)

['L',
 'i',
 's',
 't',
 'a',
 ' ',
 'd',
 'n',
 'e',
 'v',
 'n',
 'i',
 'h',
 ' ',
 't',
 'e',
 'm',
 'p',
 'e',
 'r',
 'a',
 't',
 'u',
 'r',
 'a']

In [43]:
set(naslov)

{' ', 'L', 'a', 'd', 'e', 'h', 'i', 'm', 'n', 'p', 'r', 's', 't', 'u', 'v'}

In [46]:
"i" in set(naslov)

True

In [47]:
naslov = r"Lista\nDnevnih\nTemperatura"
naslov

'Lista\\nDnevnih\\nTemperatura'

In [ ]:
putanja = r"C:\test"

In [65]:
tekst = "{0:.2f} {1:s} vrijedi {2:d} EUR"
tekst.format(7.53450,"kn",1)

'7.53 kn vrijedi 1 EUR'

In [68]:
temp = 22
if temp >= 25:
    print("Ukljuci klimu")
elif temp <= 15:
    print("Alexa uključi grijanje")
else:
    print("Siri isključi klimu")

Siri isključi klimu

In [70]:
vlaga = 25
while vlaga < 50:
    print("Zalijevam")
    vlaga += 5
    print(vlaga)

Zalijevam
30
Zalijevam
35
Zalijevam
40
Zalijevam
45
Zalijevam
50