In [112]:
import pandas as pd

e_cars = pd.read_csv("e-cars.csv",sep=";")
mall_customers = pd.read_csv("mall_customers.csv",sep=",")
titanic_data = pd.read_csv("titanic_data.csv",sep=",")
airbnb_reviews = pd.read_csv("airbnb_new_york_city_reviews.csv",sep=",")
airbnb_listings = pd.read_csv("airbnb_new_york_city_listings.csv",sep=",")

#E_cars
e_cars_filtered = e_cars.loc[e_cars["RATING"].notna()].reset_index(inplace=False, drop=True)

e_cars_filtered2 = e_cars.drop(columns = ["RATING"])

#Mall_cust
mall_customers.index.name="Index"

#Titanic_data
titanic_data_filtered = titanic_data.loc[titanic_data["Cabin"].notna()].reset_index(inplace=False, drop=True)

#AIRBNB rev
airbnb_reviews.index.name="Index"

#AIRBNB list
airbnb_listings_filtered = airbnb_listings.loc[airbnb_listings["reviews_per_month"].notna() | airbnb_listings["last_review"].notna()].reset_index(inplace=False, drop=True)
airbnb_listings_filtered

airbnb_listings_filtered2 = airbnb_listings.drop(columns = ["reviews_per_month","last_review"])


####BIRANJE PRIKAZA
#e_cars_filtered
#e_cars_filtered2
#mall_customers.dropna(how='all')
#titanic_data_filtered
#airbnb_reviews
#airbnb_listings_filtered
#airbnb_listings_filtered2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,2019-11-04,0.34,3,341
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75,1,408,2021-06-29,5.09,1,212
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2016-06-05,0.55,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,1,2014-01-02,0.01,1,184
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61,2,485,2021-07-18,3.63,1,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255,31,0,NaN,NaN,6,364
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306,5,0,NaN,NaN,1,16
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,30,0,NaN,NaN,96,334
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75,1,0,NaN,NaN,1,87
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115,30,0,NaN,NaN,11,364